<div class="col-12">
  <div id="login-form">
    <h6>You must log in to continue</h6>
    <p>Click the link below to authenticate with NYU using your NETID and associated password.</p>

    <p><a onclick="window.open('/auth/saml','Login','menubar=no,location=no,width=600,height=600')" href="#">Log In</a></p>
  </div>

  <p>
    If you think you're already logged in, <a href="/">click here</a>.
  </p>
</div>