<div id="reading-list" class="span3">
<h1>Reading list</h1>

{{#each readings}}
  <div class='reading-item {{#if current}}current{{/if}}'>
    <a href="/readings/{{id}}" data-id="{{id}}" class="reading-list-item">{{title}}</a>
  </div>
{{/each}}
</div>

<div class="span9" id="expanded-reading">
</div>