<form class="form">
  <textarea id="new-response-content"></textarea>
  <div class="publish-buttons">
    <button id="response-publish" class="ladda-button" data-size="l" data-color="blue" data-style="expand-right"><span class="ladda-label">Publish</span></button>
  </div>
</form>