<div id="reading-detail">
  <h1>{{title}}</h1>

  <div>{{{content}}}</div>
</div>

<div id="reading-responses">
</div>

<div id="new-response">
  <form class="form">
    <h2>Add a Response</h2>
    <textarea class="short" id="new-response-content"></textarea>
    <div class="publish-buttons">
      <button id="response-publish" class="ladda-button" data-size="l" data-color="blue" data-style="expand-right"><span class="ladda-label">Publish</span></button>
    </div>
  </form>
</div>