//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  @include container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: $gridGutterWidth;
  padding-left: $gridGutterWidth;
  @include clearfix();
}

#site-title {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-family: "Merriweather";
  margin-right: 1em;
}

.nav-link {
  margin-right: 0.75em;
}