#reading-list {
  .reading-item {
    line-height: 1em;
    padding: 0.5em 0.25em;
  }

  .current {
    background: $blue;

    a {
      color: $white;
    }
  }
}

#reading-detail {
  padding:  0 1em 1em;
  border-bottom: 1px solid $grayDarker;
}

#expanded-reading {
  .reading-response {
    margin: 1em;

    h2 {
      font-size: 1.2em;
      line-height: 1.4em;
      margin: 0;
      padding: 0;
      letter-spacing: normal;
    }
  }
}