.announcement-excerpt {
  border-bottom: .0625em solid #ddd; /* 1 / 24 */
  clear: both;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.75em 0 0.6875em 0;

  .date {
    color: #fff;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #D588FF;
    text-align: center;
    line-height: 40px;
  }

  h3.title {
    font-weight: bold;
    line-height: 1.2em;
    font-size: inherit;
    margin: 0;
    padding: 0;
  }

  .title a {
    color: #000;
  }

  .author {
    color: #aaa;
    margin-bottom: 0.25em;
  }
}